
body{
    background-color: rgb(144, 201, 201);
}
label{
    color: rgb(132, 130, 130);
}
.row{
    border-radius: 20px;
}

.type{
    border: 1px solid rgb(218, 217, 217);
    padding: 7px;
    border-radius: 8px;
}

#calculate{
    padding: 8px;
   background-color: rgb(195, 195, 59);
   border-radius: 30px;
   border: solid transparent;
  
}

.result{
    color:white;
   padding: 20px;
   text-align: center;
   
  
  
}
.side{
    border-radius: 0 20px 20px 70px;
}
.dataStyle{
    background-color: rgb(3, 3, 69);
    padding: 8px;
    border-radius: 10px;
    border-top: solid rgb(206, 206, 5);
}

.dataStyle h2{
    color: yellow;
}
.dataStyle p , .tittle{
    color: gray;
}
.type:hover{

    border: 1px solid rgb(239, 246, 34);
    padding: 7px;
    border-radius: 8px;
}
.highlighted {
  
    border: 1px solid rgb(239, 246, 34);
    padding: 7px;
    border-radius: 8px;
    background-color: rgb(247, 247, 152);
}
#mortgageAmount:hover , #mortgageTerm:hover , #interestRate:hover{
 border: solid rgb(86, 86, 86);
}

#required{
    color: red;
}